body {
    background: red;
}
h2 {
    color: maroon; 
    text-align: center;
}
table, td, th { 
    background-color: lightgreen; 
    border: 2px solid black;
}
img {
    width: 427px; height: 640px;
}
ul li {
    color: blue;
}

    
